
<li class="collection-item">
	<p>
		<b>Pregunta:</b> <span>{{format-question content.question}}</span>
	</p>

	<p>
		<b>Respuesta:</b> <span>{{content.answer}}</span>
	</p>
	
	<p>
	answerCheck: {{answerCheck}}
	</p>

	<div>
		{{input value=answer class="validate" length="60" placeholder="Escribe la respuesta"}}
	</div>	
</li>


{{yield}}

