<div class="row">
	<div class="col s12 m6">

	  <div class="card grey lighten-5">
	    <div class="card-content">
	      <span class="card-title orange-text">Pregunta</span>

			<div class="row">
				<div class="col s6">
					{{input-select data=content placeholder="Elija una categoría"}}
				</div>
			</div>

			<div class="row">
				<div class="input-field col s6">
					{{input value=question class="validate" id="question" length="60"}}
					<label for="question">Pregunta</label>
				</div>

				<div class="input-field col s6">
					{{input value=answer class="validate" id="answer" length="60"}}
					<label for="answer">Respuesta</label>
				</div>	
			</div>	
	    </div>
	    <div class="card-action">
	    	<span {{action 'save'}} class='white-text btn btn-small deep-orange'>Agregar</span>
	    </div>
	  </div>
	</div>
</div>




{{yield}}
